/*start Header portfolio */
@media screen and (max-width: 992px) {
  .hero {
    min-height: auto;
    padding-block: 40px 20px;
  }
  .hero .wrapper {
    flex-direction: row;
    gap: 40px;
  }
  .hero .hero-content,
  .hero .hero-image {
    width: calc(50% - 20px);
  }
  .hero .hero-content h1 {
    font-size: 36px;
  }
  .hero .hero-content p {
    font-size: 18px;
    padding-block: 15px;
    line-height: 1.5;
  }
  .hero .hero-image img {
    max-width: 320px;
    margin-inline: auto;
  }
}

@media screen and (max-width: 768px) {
  .hero .wrapper {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .hero .hero-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero .hero-content,
  .hero .hero-image {
    width: 100%;
  }
  .hero .hero-content h1 {
    font-size: 32px;
  }
  .hero .hero-content p {
    font-size: 16px;
  }
  .hero .hero-content button {
    width: 50%;
    min-width: 160px;
  }
}
/* end Header portfolio */

/*  start main section my services */
@media screen and (max-width: 992px) {
  .services .item {
    width: calc((100% - 20px) / 2);
  }
}

@media screen and (max-width: 576px) {
  .services .item {
    width: 100%;
  }

  .title h2 {
    font-size: 30px;
  }
}
/* end main section my services */

/* start section Portfolio */
@media screen and (max-width: 992px) {
  .portfolio .item {
    width: calc((100% - 40px) / 3);
  }
}

@media screen and (max-width: 576px) {
  .portfolio .item {
    width: calc((100% - 20px) / 2);
  }
}
/* end section Portfolio */

/* start section Contact */
@media screen and (max-width: 992px) {
  .contact .wrapper {
    flex-direction: column;
    gap: 40px;
  }
  .contact .contact-form-box,
  .contact .contact-info {
    width: 100%;
  }
  .contact .contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .contact .contact-info h2 {
    width: 100%;
    margin-bottom: 10px;
  }
  .contact .info-card {
    width: calc((100% - 20px) / 2);
    margin-bottom: 0;
  }
}

@media screen and (max-width: 576px) {
  .contact .info-card {
    width: 100%;
  }
}
/* end section Contact */

/* Start footer Portfolio */
@media screen and (max-width: 992px) {
  .footer .brands-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
  }
  .footer .brand-item {
    width: auto;
    flex: 1;
  }
  .footer .brand-item img {
    max-width: 100px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .footer .brands-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 15px;
  }
  .footer .brand-item {
    width: calc((100% - 15px) / 2);
    flex: none;
  }
  .footer .brand-item img {
    max-width: 110px;
  }
  .footer .copyright p {
    font-size: 13px;
  }
}
/* end footer Portfolio */
